[Unit]
Description=dnsmasq

[Container]
ContainerName=dnsmasq
Image=docker.io/dockurr/dnsmasq:latest

Network=host

AddCapability=NET_ADMIN
AddCapability=NET_RAW

Volume=%h/containers/dnsmasq/dnsmasq.conf:/etc/dnsmasq.conf:ro
Volume=%h/containers/dnsmasq/dnsmasq.leases:/var/lib/misc/dnsmasq.leases

[Service]
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
