[Unit]
Description=Plex Media Server

[Container]
ContainerName=plex
Image=lscr.io/linuxserver/plex:latest

PublishPort=32400:32400
AddDevice=/dev/dri:/dev/dri

Environment=TZ=America/Indiana/Indianapolis
Environment=VERSION=docker

# plex config folder
Volume=/tank/plex:/config

# plex media folder
Volume=/tank/nas/plex:/media

# shared memory transcode path
Volume=/dev/shm/plex:/transcode

[Service]
ExecStartPre=mkdir -p /dev/shm/plex
Restart=always
RestartSec=30

[Install]
WantedBy=default.target
