[Unit]
Description=Plex Media Server

[Container]
ContainerName=plex
Image=lscr.io/linuxserver/plex:latest

Network=host
AddDevice=/dev/dri:/dev/dri

Environment=TZ=America/Indiana/Indianapolis
Environment=VERSION=docker

# plex config folder
Volume=/tank/plex:/config

# plex media folder
Volume=/tank/nas/plex:/media

# shared memory transcode path
Mount=type=tmpfs,destination=/transcode,tmpfs-size=1G

[Service]
Restart=always
RestartSec=30

[Install]
WantedBy=default.target
